

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.paul{
    height: 66vh;
}


.logos{
    height: 80px;
    
}

.baky{
    background-image: url("/img/close-up-hard-hat-holding-by-construction-worker.jpg");
    height: 100vh;
}
@media screen and (min-width:1280px) {
    .carousel-inner{
        display: flex;
    }
    
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .card{
        width:300px;
        height: auto;
        padding: 10px;
    
    }
    .card .img{
        max-width: 50%;
    }
}

.carousel-inner{
    padding: 1rem;
}
.card{
    width:500px;
    height: auto;
    padding: 10px;

}
.card .img{
    max-width: 100%;
}